$font: #556;
$border: #e1e8ed;
$twitter: #00aced;

a{
  text-decoration: none;
}
html,body{
  background-image: url("../../img/bg.png");
  height: 100%;
  padding: 0;
  margin: 0;
  color: $font;
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  font-size: 1em;
  color: #333;
}
.container{
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}
header{
  padding-top: 20px;
}
.content{
  width: 90%;
  background: rgba(255,255,255,0.6) !important;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
footer{
  padding-top: 20px;
  padding-bottom: 20px;
}
// ------------ シェアボタン ------------
ul#share{
	height:auto;
	margin: 0px;
	padding: 0px;
  a{
    text-decoration: none;
    margin-right: 8px;
  }
}
ul#share>a>li{
	display: inline-block;
	text-align: center;
  font-size: 25px;
  color: #fff;
	margin: 2px;
	border-radius: 3px;
	list-style:none;
	vertical-align: middle;
  cursor: pointer;
  position: relative;
  .share-count{
    font-family: 'Squada One', cursive;
    position: absolute;
    bottom: -10px;
    right: -5px;
    border-radius: 35px;
    color: #fff;
    font-size: 0.55em;
    font-weight: bold;
    background-color: #ff0066;
    padding: 0px 7px;
  }
}
// Twitter
ul#share>a>li#twitter{
	background: $twitter;
	box-shadow: 0 2px #2795e9;
  padding: 3px 10px 0px 10px;
}
ul#share>a>li#twitter:hover{
	background:#83c3f3;
}
// facebook
ul#share>a>li#fb{
	background:#305097;
	box-shadow:0 2px #2d4373;
  padding: 3px 14px 0px 14px;
}
ul#share>a>li#fb:hover{
	background:#4c70ba;
}
// はてなブックマーク
ul#share>a>li#hatena{
	background: #008fde;
	box-shadow:0 2px #225694;
  padding: 3px 6px 0px 7px;
}
ul#share>a>li#hatena:hover{
	background:#4888d4;
}
.hatena-icon{
	font-family: 'Candal', sans-serif;
	vertical-align: bottom;
	font-size: 25px;
}

// ---------- お知らせ ----------
#info{
  color: #111;
  margin-top: 25px;
  margin-bottom: 15px;
}
.info-title{
  font-size: 18px;
  font-weight: bold;
  font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
}

// ---------- このサイトについて ----------
#about{
	font-size: 14px;
	background-color: rgba(30, 30, 30, 0.6);
	opacity: 0.9;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 12px 7px 9px 7px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}
#about > legend{
  margin-bottom: 10px;
  font-size: 18px;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.4) 0 1px 1px;
}
#about > ul > li{
	margin-left: -15px;
}
#about > ul > ol{
  margin: 0px;
  padding: 0px;
}

// ---------- 計算フォーム ----------
.notice{
  font-size: 0.7em;
  text-align: left;
  margin-bottom: -10px;
}
input{
  text-align: right;
}

// -------------- Modal --------------
h4#myModalLabel{
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.btn-kekka{
  padding: 5px 12px !important;
  font-size: 15px;
}
.btn-tweet{
  background-color: $twitter;
  border: 1px solid darken($twitter, 7%);
  i{
    font-size: 20px;
    vertical-align: middle;
  }
}
.btn-tweet:hover{
  background-color: darken($twitter, 10%);
}
section table   { width: 100%; }
section th, section td  { padding: 10px; border: 1px solid #ddd; }
section th  { background: #f4f4f4; }

table#kekka {
  width: 100%;
  max-width: 485px;
  margin: auto;
}
#kekka tr {
  border: 1px solid #ccc;
  color: #333;
}
#kekka th  {
  padding: 5px 10px;
  width: 45%;
  text-align: right;
  background-color: #ffefd5;
}
#kekka td {
  padding: 5px 10px;
  // font-family: 'Squada One', cursive;
  font-size: 2em;
  font-weight: bold;
  color: #ff0066;
  text-align: right;
}
@media only screen and (max-width:480px){
    #kekka { margin: 0 -10px; }
    #kekka th,
    #kekka td{
        width: 100%;
        display: block;
        border-top: none;
    }
    #kekka th{ text-align: center; }
    #kekka tr:first-child th   { border-top: 1px solid #ddd; }
}

#karoushi {
 -webkit-animation: karoushiflash 0.5s infinite alternate;
 -moz-animation: karoushiflash 0.5s infinite alternate;
 animation: karoushiflash 0.5s infinite alternate;
}
@-webkit-keyframes karoushiflash {
 from { background: rgb(0,0,0); }
 to { background: rgb(150,0,0); }
}
@-moz-keyframes karoushiflash {
  from { background: rgb(0,0,0); }
  to { background: rgb(150,0,0); }
}
@keyframes karoushiflash {
  from { background: rgb(0,0,0); }
  to { background: rgb(150,0,0); }
}

// ------------------- FAQ ---------------------
#faq > ul{
	padding-left: 10px;
	padding-right: 10px;
}
#faq > ul > li{
	list-style-type: none;
	border-bottom: 1px solid #ccc;
	margin-top: 30px;
}
#faq > ul > li:last-child{
  border-bottom: none;
}
#faq > ul > li > h4{
	font-weight: bold;
	line-height: 1.5em;
}
#faq > ul > li > p{
	margin-left: 20px;
	margin-bottom: 30px;
	line-height: 2em;
}
.q{
	font-weight: normal;
	color: white;
	background-color: #52433e;
	border: solid 1px #52433e;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 0px 10px;
	margin-right: 6px;
}
.a{
	color: #52433e;
	background-color: white;
	border: solid 1px #52433e;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 0px 10px;
	margin-right: 6px;
	font-weight: bold;
}
