/ ------------ JavaScript ------------
/ jQuery
script type="text/javascript" src="./lib/jquery/js/jquery.min.js"
/ Bootstrap
script type="text/javascript" src="./lib/bootstrap/js/bootstrap.min.js"
/ scripts
script type="text/javascript" src="./scripts.js"
