/ ------------ JavaScript ------------
/ jQuery
script type="text/javascript" src="./lib/js/jquery/jquery.min.js"
/ Bootstrap
script type="text/javascript" src="./lib/js/bootstrap/bootstrap.min.js"
/ scripts
script type="text/javascript" src="./scripts.js"
