!!!
%html{:lang => "ja"}
  %head
    %title サビ残くん - サービス残業代計算サイト
    %meta( http-equiv="Content-Type" content="text/html" charset="utf-8" )
    %meta( name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    %meta( name="description" content="国内一のサービス残業代の計算サービス")
    %meta( name="keywords" content="サービス残業,転職,ブラック企業,求人,就職,過労死,サビ残")
    -# favicon
    %link( rel="shortcut icon" href="./img/favicon.ico")
    -# Bootstrap
    %link( rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap.min.css" )
    -# font-awesome
    %link( rel="stylesheet" type="text/css" href="./lib/font-awesome/css/font-awesome.min.css" )
    -# Google Fonts
    %link( rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Candal' )
    %link( rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Squada+One' )
    -# style
    %link( rel="stylesheet" type="text/css" href="./dest/css/style.css" )
    -# 初期化処理
    :javascript
      var mainIniInitialize;
      mainIniInitialize = function() {
        return this.mainObj = new window.Main();
      };
  %body( onLoad="mainIniInitialize();" )
    -# --------------- header ---------------
    %header
      %div.container
        %row
          %div.col-sm-6
            -# タイトル画像
            %img.img-responsive( src="./img/savizankun.png" )
            -# シェアボタン
            %ul#share
              -# Twitter
              %a
                %li#twitter
                  %i.fa.fa-twitter
                  -# %span.share-count 0
              -# Facebook
              %a
                %li#fb
                  %i.fa.fa-facebook
                  %span.share-count 0
              -# Hatena
              %a
                %li#hatena
                  %span.hatena-icon B!
                  %span.share-count 0
            -# お知らせ
            %div#info
              %div.info-title
                %i.fa.fa-info-circle
                お知らせ（2015/01/05）
              デザインと計算アルゴリズムを大幅改変しました。

          %div.col-sm-6
            -# 当サイトについて
            %div#about
              %legend
                %i.fa.fa-question-circle
                当サイトについて
              %ul
                %li サービス残業代を計算できるWebサービスです。
                %li 当サイトによる計算結果はあくまで目安です。
                %li 当然ですが入力情報の収集・二次配布等は一切行っていません。安心してご利用下さい。
                %li 入力についての諸注意
                %ol
                  %li 月給は支給額から手当を除いた額を入力。
                  %li 年間休日は雇用契約書の記載通り、わからない場合は、週休２日の場合は年間105日+祝祭日+長期休暇になるので、それを目安に入力。有給休暇は含みません。
                  %li 休憩は分単位で入力。
                  %li 平均退勤時刻は、残業を含む平均的な退勤時刻を入力して下さい。
              -# その他FAQ
              %div#faq( style="text-align: right;" )
                %a.btn.btn-default( href="./faq.html" role="button" ) その他FAQ
    -# --------------- main ---------------
    %div#main
      %div.container.content
        %row
          %div.col-sm-6.col-sm-offset-3
            -# --------------- 計算用フォーム ---------------
            %form#keisan( onsubmit="return false;" )
              %img( src="./img/keisan.png" class="img-responsive" style="margin: auto; padding:0px 0px 20px 0px;" )
              -# 月給
              %div.form-group
                %label.col-sm-4.control-label( style="text-align: right" ) 月給
                %div.input-group
                  %input#gekkyu.form-control( type="number" required autofocus min="1" )
                  %div.input-group-addon 円
                %div.notice.col-sm-offset-4 ※支給額から各種手当を除いた額
              -# 年間休日
              %div.form-group
                %label.col-sm-4.control-label( style="text-align: right" ) 年間休日
                %div.input-group
                  %input#nenkyu.form-control( value="105" type="number" required min="0" max="364" )
                  %div.input-group-addon 日
              -# 週休
              %div.form-group
                %label.col-sm-4.control-label( style="text-align: right" ) 週休
                %div.input-group
                  %input#syukyu.form-control( type="number" required value="2" min="0" max="6" )
                  %div.input-group-addon 日
              -# 休憩時間
              %div.form-group
                %label.col-sm-4.control-label( style="text-align: right" ) 休憩時間
                %div.input-group
                  %input#kyukei.form-control( type="number" required value="60" min="0" max="1440" )
                  %div.input-group-addon 分
                %div.notice.col-sm-offset-4 ※分単位で入力
              -# 出勤時刻
              %div.form-group
                %label.col-sm-4.control-label( style="text-align: right" ) 出勤時刻
                %div.input-group( style="margin: auto;" )
                  %select#startWorkHour
                    %option( value="0") 0
                    %option( value="1") 1
                    %option( value="2") 2
                    %option( value="3") 3
                    %option( value="4") 4
                    %option( value="5") 5
                    %option( value="6") 6
                    %option( value="7") 7
                    %option( value="8") 8
                    %option( value="9" selected ) 9
                    %option( value="10") 10
                    %option( value="11") 11
                    %option( value="12") 12
                    %option( value="13") 13
                    %option( value="14") 14
                    %option( value="15") 15
                    %option( value="16") 16
                    %option( value="17") 17
                    %option( value="18") 18
                    %option( value="19") 19
                    %option( value="20") 20
                    %option( value="21") 21
                    %option( value="22") 22
                    %option( value="23") 23
                  %span 時
                  %select#startWorkMin
                    %option( value="0" )0
                    %option( value="15" )15
                    %option( value="30" )30
                    %option( value="45" )45
                  %span 分
              -# 定時退勤時刻
              %div.form-group
                %label.col-sm-4.control-label( style="text-align: right" ) 定時退勤
                %div.input-group( style="margin: auto;" )
                  %select#endWorkHour
                    %option( value="0") 0
                    %option( value="1") 1
                    %option( value="2") 2
                    %option( value="3") 3
                    %option( value="4") 4
                    %option( value="5") 5
                    %option( value="6") 6
                    %option( value="7") 7
                    %option( value="8") 8
                    %option( value="9" ) 9
                    %option( value="10") 10
                    %option( value="11") 11
                    %option( value="12") 12
                    %option( value="13") 13
                    %option( value="14") 14
                    %option( value="15") 15
                    %option( value="16") 16
                    %option( value="17") 17
                    %option( value="18" selected) 18
                    %option( value="19") 19
                    %option( value="20") 20
                    %option( value="21") 21
                    %option( value="22") 22
                    %option( value="23") 23
                  %span 時
                  %select#endWorkMin
                    %option( value="0" )0
                    %option( value="15" )15
                    %option( value="30" )30
                    %option( value="45" )45
                  %span 分
              -# 平均退勤時刻
              %div.form-group
                %label.col-sm-4.control-label( style="text-align: right" ) 平均退勤
                %div.input-group( style="margin: auto;" )
                  %select#overEndWorkHour
                    %option( value="0") 0
                    %option( value="1") 1
                    %option( value="2") 2
                    %option( value="3") 3
                    %option( value="4") 4
                    %option( value="5") 5
                    %option( value="6") 6
                    %option( value="7") 7
                    %option( value="8") 8
                    %option( value="9" ) 9
                    %option( value="10") 10
                    %option( value="11") 11
                    %option( value="12") 12
                    %option( value="13") 13
                    %option( value="14") 14
                    %option( value="15") 15
                    %option( value="16") 16
                    %option( value="17") 17
                    %option( value="18") 18
                    %option( value="19") 19
                    %option( value="20") 20
                    %option( value="21" selected) 21
                    %option( value="22") 22
                    %option( value="23") 23
                  %span 時
                  %select#overEndWorkMin
                    %option( value="0" )0
                    %option( value="15" )15
                    %option( value="30" )30
                    %option( value="45" )45
                  %span 分
                %div.notice.col-sm-offset-4 ※残業を含む平均的な退勤時刻を入力
              %div.form-group( style="text-align: center;" )
                -# 計算するボタン
                %button#keisanBtn.btn.btn-primary.col-sm-offset-4( type="submit" style="margin-top: 5px; margin-bottom: -15px;" )
                  %i.fa.fa-hand-o-up
                  計算する
                -# Modal呼び出しボタン
                %button#modalBtn.btn.btn-primary.col-sm-offset-4( data-toggle="modal" data-target="#myModal" style="display: none;" )
                  Modal

    -# -------------- footer --------------
    %footer
      %div.container
        %row
          %div.col-sm-12
            %p( style="text-align: center;" ) Copyright &copy; 2013-2016 サビ残くん All Rights Reserved.
    -# -------------- Modal --------------
    %div#myModal.modal.fade( tabindex="-1" role="dialog" aria-labelledby="myModalLabel" )
      %div.modal-dialog( role="document" )
        %div.modal-content
          %div.modal-header
            %button( type="button" class="close" data-dismiss="modal" aria-label="Close" )
              %span( aria-hidden="true") &times;
            %h4#myModalLabel.modal-title 計算結果
          %div.modal-body
            %table#kekka
              %tr
                %th 年間のサービス残業代
                %td#zangyou-yen-year
              %tr
                %th 年間の残業時間
                %td#zangyou-time-year
              %tr
                %th 時給換算
                %td#zikyu
          %div.modal-footer
            -# 結果をツイートボタン
            %a#btn-tweet-link( href="" style="text-decoration: none;" )
              %button.btn.btn-primary.btn-kekka.btn-tweet( type="button" )
                %i.fa.fa-twitter
                結果をツイート
            -# 閉じるボタン
            %button.btn.btn-default.btn-kekka( type="button" data-dismiss="modal" ) 閉じる

    -# ------------ JavaScript ------------
    -# jQuery
    %script( type="text/javascript" src="./lib/jquery/js/jquery.min.js" )
    -# Bootstrap
    %script( type="text/javascript" src="./lib/bootstrap/js/bootstrap.min.js" )
    -# scripts
    %script( type="text/javascript" src="./scripts.js" )
